<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body style="background-color: black;">
    <nav >
        <ul style="list-style: none; display: flex; gap:40px; background-color: rgb(9, 255, 0); height: 40px; margin-top: 0px; align-items: center;">
            <li><a href="home" style="color: rgb(0, 0, 0); text-decoration: none;"><b>HOME</b></a></li>
        </ul>
    </nav>
    <h1 style="color: aqua;">ABOUT</h1>
</body>
</html>